<p>error-page works!</p>

<ul>
    <li><a routerLink="/auth/login">Ir a Login</a></li>
    <li><a routerLink="/auth/registro">Ir a registro</a></li>

    <li><a routerLink="/heroes/listado">Ir a Heroes listado</a></li>
    <li><a routerLink="/heroes/agregar">Ir a Heroes agregar</a></li>
    <li><a routerLink="/heroes/editar/25">Ir a Heroe editar (agregar) 25</a></li>
    <li><a routerLink="/heroes/buscar">Ir a Heroes buscar</a></li>
    <li><a routerLink="/heroes/marvel-captain">Ir a Heroe marvel-captain</a></li>
</ul>
